{{ partial "head.html" . }}
<body>
  {{ partial "sidebar.html" . }}
  <div class="content container">
    <div class="post">
      <h1 class="post-title">{{ .Title }}</h1>
      <span class="post-date">{{ .Date.Format "2006-01-02 15:04" }}</span>

      {{ if .Params.images }}
        {{ range $imageUrl := .Params.images }}
         <a href="https://www.kodsnack.se/{{$imageUrl}}" target="_blank"><img src="https://www.kodsnack.se/{{$imageUrl}}"></a>
        {{ end }}
      {{ end }}
      {{ if .Params.audiofile }}
      <audio class="post-download" controls src="{{ .Params.audiofile }}"></audio>
      <span class="post-download"><a href="{{ .Params.audiofile }}">Ladda ner (mp3)</a></span>
      {{ end }}
      <script>
        var linksInNewTab = false;
        var toggleLinkTarget = function () {
          linksInNewTab = !linksInNewTab;
          var links = document.getElementsByTagName('a');
          var numLinks = links.length;
          for (var i = 0; i < numLinks; i++) {
            links.item(i).target = linksInNewTab ? '_blank' : '';
          }
        }
        document.addEventListener("DOMContentLoaded", function () {
          document.getElementById('linkToggler').addEventListener('click', toggleLinkTarget);
        });
      </script>
      <span class="open-in-tabs"><label><input type="checkbox" label="Öppna länkar i nya flikar" id="linkToggler">Öppna länkar i nya flikar</input></label></span>

      {{ .Content }}

    </div>
  </div>
  </body>
</html>
