{{ template "theme/chrome/head.html" . }}
<body>
  {{ template "theme/chrome/sidebar.html" . }}
  <div class="content container">

    <div class="notice">
      <h2>Kodsnack på Øredev</h2>

      <div class="notice-body">
        <p>Veckan är över! Tack till alla lyssnare vi träffat under veckan, vi ser fram emot att träffa er igen!</p>

        <p>Inspelade intervjuer (tyvärr lyckades vi inte spela in alla intervjuer vi gjorde, men det här är de flesta):</p>

        <ul>
          <li><a href="//www.youtube.com/embed/9NELjCaWtXA">Fred George</a><li>
          <li><a href="//www.youtube.com/embed/cZN9d1qlQ7k">James Mickens</a><li>
          <li><a href="//www.youtube.com/embed/NQWyfpvFL4g">Stefan Karpinski</a><li>
          <li><a href="//www.youtube.com/embed/e2gHbcuyNIE">Rob Ashton</a><li>
        </ul>

      </div>
    </div>
    
    <div class="posts">
      {{ range first 1 .Site.Sections.avsnitt }}
      <div class="post">
        <h1 class="post-title"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h1>
        <span class="post-date">{{ .Page.Date.Format "2006-01-02 15:04" }}</span>
      {{ if .Page.Params.libsynid }}
      <div class="post-player">
<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/{{ .Page.Params.libsynid }}/height/45/width/300/theme/standard-mini/direction/no/autoplay/no/autonext/no/thumbnail/no/preload/no/no_addthis/no/" height="45" width="300" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
      {{ end }}

      {{ if .Page.Params.audiofile }}
        <span class="post-download"><a href="{{ .Page.Params.audiofile }}">Ladda ner (mp3)</a></span>
        {{ end }}

        {{ .Page.Content }}

      </div>
      {{ end }}
      <a href="{{ .Site.BaseUrl }}/avsnitt/">Tidigare avsnitt</a>
    </div>
  </body>
</html>
