{{ template "theme/chrome/head.html" . }}
<body>
<div class="sump-sidebar">
  {{ template "theme/chrome/sidebar.html" . }}
</div>
  <div class="content container">
    <div class="post">
      <h1 class="post-title">Sumpsnack (bonusmaterial)</h1>

      <p>
        Sumpsnack är det som händer innan eller efter vi spelat in Kodsnack. Materialet här kan vara allt från teknik, politik, feminism och religion till hörlurar och spel.

        Du kan också prenumerera via <a href="http://feeds.podtrac.com/fZFWXB00bhx9">RSS</a>.
      </p>
    
      <ul class="posts">
        {{ range .Data.Pages }}
          <li>
            <span class="post-list">
              <time>{{ .Date.Format "2006-01-02" }}</time> <a href="{{ .Permalink }}">Sumpsnack: {{ .Title }}</a>
            </span>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</body>
</html>
